* {
    box-sizing: border-box;
}

.menu-button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    pointer-events: none;
}

button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 4px;
}

input{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0;

}

input:checked + .menu button span{
    position: absolute;
    transition: all 0.3s easy-in-out;
}

input:checked + .menu button span:nth-child(2){
    opacity: 0;  
}

input:checked + .menu button span:nth-child(1){
    transform: rotate(45deg);  
}

input:checked + .menu button span:nth-child(3){
    transform: rotate(-45deg); 
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgoldenrodyellow;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
}

input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    
}

li a{
    text-decoration: none;
}


.astronaut{
    background-image: url(images/adam-miller-mobile.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}


.box_one {
    background-color: white;
    width: 170px;
    height: 180px;
    border: 4px solid black;
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
}

.box_one h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.box_two {
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
}

.box_three {
    background-color: pink;
    width: 200px;
    height: 200px;
}

.box_four {
    background-color: orange;
    width: 300px;
    height: 300px;
}

.box_five {
    background-color: lightsalmon;
    width: 300px;
    height: 300px;
}



.starry_sky {
    background-image: url(images/starry-sky-mobile.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}