
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;

  }
  
  body {
    font-family: "rubik", sans-serif;
    color: white;
    background-color: lightgrey;
  }
  
  @media screen and (min-width: 320px) {
  /*-------------sid 1-------------*/
    .page-one {
      background-image: url("images/adam-miller-mobile.jpg");
      background-position: center;
      Background-position: fixed;
      background-size: cover;
      position: relative;
      min-height: 100vh; 
      width: 100vw;
    }
    
    
    .black {
      border:  4px solid black;
      color: black;
      font-size: 1rem;
      text-align: center;
      position: absolute;
      padding: 0 20px;
      top: 80px;
      left: 100px;
      
    }

    .black h1 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 25px;
      margin-top: 20px;
    }

  
  
    
    .light-green {
      color: white;
      position: absolute;
      bottom: 10px;
      font-size: 2rem;
      left: 50%;
    }

    .light-green a:link{
      color: white;
      text-decoration: none;
    }

    .light-green a:visited {
      color: white;
    }

    .arrow_footer{
      position: absolute;
      font-size: 0.7rem;
      left: 5px;
      bottom: 5px;
    }

    .arrow_footer a:link{
      text-decoration: none;
      color: black;
    }

    .arrow_footer a:visited {
      color: black;
    }

    .arrow_footer span{
      position: relative;
      left: 0;
      transition: left 0.3s ease-in-out;
    }

    .arrow_footer:hover span {
      left: 15px;
    }

    
    /*------------------Hamburgermeny-------------------
    --------------------------------------------------
    --------------------------------------------------*/
    
    .menu-button {
      width: 35px;
      height: 35px;
      background: transparent;
      border: 0;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 3;
      pointer-events: none;
    }
    
    .menu-button span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: black;
      border-radius: 6px;
      margin-bottom: 4px;
      position: relative;
      left: 0;
      transition: left 0.3s ease-in-out;
      margin-left: 6px;
    }
    
    input {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 4;
      width: 35px;
      height: 35px;
      opacity: 0;
      cursor: pointer;
    }
    
    .menu-button span:nth-child(2) {
    margin-left: 0;
    transition: all 0.4s ease-in-out;
    }
    
    input:hover + .menu .menu-button span:nth-child(2) {
      left: 6px;
    }
    
    nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgb(255, 255, 255, 0.8);
      width: 100vw;
      height: 100vh;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      visibility: hidden;
      z-index: 2;
    
    }
    
    input:checked + .menu nav {
      visibility: visible;
      opacity: 1;
    }
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: black;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: 3px 3px rgb(191, 191, 191, 0.5);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      text-align: center;
    }

    ul a:link {
      text-decoration: none;
    }

    ul a:visited {
      color: black;
    }  
    
    /*------------sid 2--------------- */
    .full-page {
      background-image: url("images/starry-sky-mobile.jpg");
      background-position: center;
      Background-position: fixed;
      background-size: cover;
      min-height: 100vh;
      position: relative;
      padding-bottom: 10px;
    
    }
    
    .brown {
      outline: 3px solid brown;
      padding: 10px;

    }
    
    .space-ventures h2 span:first-of-type {
      display: block;
      color: white;
      font-size: 3rem;
      font-weight: 600;
      position: relative;
      top: 10px;
      left: 30px;
      z-index: 1;
    }
    .space-ventures h2 span:nth-of-type(2) {
      position: relative;
      top: -35px;
      color: rgb(191, 191, 191, 0.8);
      font-size: 4rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      z-index: 0;
      left: 70px;
    }
    
    blockquote {
      margin: 10px;
      position: relative;
      display: inline;
      left: 50px;
      font-style: italic;
      line-height: 20px;
      
    }
    blockquote::before, blockquote::after {
      display: block;
      position: absolute;
      font-size: 3rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      opacity: 30%;
    }
    blockquote::before {
      content: open-quote;
      top: 40px;
      left: -25px;
    }
    blockquote::after {
      content: close-quote;
      bottom: 25px;
      right: -70px;
    }
    
    .gradient-quote {
      display: none;
      background: #613027;
      background: repeating-linear-gradient(to right, #613027 0%, #947A47 50%, #613027 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      font-size: 3rem;
      text-align: center;
      font-style: italic;
      
    }
    
    .pink {
      outline: 1px solid pink;
      text-align: left;
      padding: 0 6px;
      font-size: 0.7rem;
      line-height: 16px;
    }

    .pink h3 {
      font-size: 1rem;
      font-weight: 600;
    }
    
    .gradient-quote {
      outline: 3px solid red;
    }
    
    .grey {
      outline: 3px solid grey;
    
    }
    
    
    .blue {
      border: 1px solid orange;
      text-align: left;
      padding: 0 10px;
      left: 30px;
      font-size: 0.7rem;
      line-height: 16px;
      padding-bottom: 100px;
    
    }

    .major-tom {
      display: none;
    }

    .second-footer{
      display: none;
      background-color:#0b1237;
      color: #d200a2;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 5px;
      font-size: 0.8rem;
    }

    .second-footer p {
      text-shadow: 0 0 20px #fc3acf;
    }

    .cookies {
      position: absolute;
      right: 30px;
      top: 20px;
      background-color: #081160;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      padding: 10px 15px;
    }


  .blue a:link {
    color: #ba025c;
  }

  .blue a:visited {
    color: #ba025c;
  }
  }

/* -----------------------------Style för desktop------------------------------- */

  @media screen and (min-width: 1025px) {



    /*------------------------------------------------
    -------------------------------------------------
    -----------------sid 1--------------------------
    -----------------------------------------------*/

    /* bakgrundsbild överst */
    .page-one {
      background-image: url(images/adam-miller-desktop.jpg);
    }

    /* Boxen med texten to the moon */
    .black {
      font-size: 2rem;
      top: 80px;
      left: 190px;
      width: 300px;
      padding: 50px 10px;
      background-color: rgb(255, 255, 255, 0.5);
    }

    .black h1 {
      margin: 20px 20px 25px 20px;
    }

    .arrow_footer{
      right: -170px;
    }

    .line-break {
      display: none;
    }


  

     /*------------------------------------------------
    -------------------------------------------------
    -----------------sid 2--------------------------
    -----------------------------------------------*/

/* Lyckades inte få bort skuggeffekten om jag la text-decoration: underline.
Går det att lösa eller funkar denna lösningen ?? */

    /* skapar en rosa linje när man för musen över menyn */
    ul a:hover {
      border-bottom: 4px solid #fc3acf;
      }
    
    /* bilden på major tom som endast syns i desktop */
    .major-tom {
      display: block;
      }

     /* bakgrundsbild nere stjärnhimmel */
     .full-page {
      background-image: url("images/starry-sky-desktop.jpg");
      display: flex;
      gap: 100px;
    }

    .brown, .grey {
      width: 50%;
      padding: 0 50px;
    }

    /* Första sektionen med text på sidan 2 */
    .pink {
      position: relative;
      font-size: 1.2rem;
      line-height: 25px;
    }
  
    .pink h3 {
      font-size: 1.6rem;
      font-weight: 600;
    }

    /* Första citatet på sidan 2 */
    blockquote {
      margin: 20px 20px;
      position: absolute;
      line-height: 30px;
      font-size: 1.5rem;
        
    }
    blockquote::before, blockquote::after {
      font-size: 6rem;
    }

    blockquote::before {
      top: 35px;
      left: -30px;
      }
    blockquote::after {
      bottom: -15px;
      left: 80px;
    }
    
    /* Texten space ventures på sidan 2 */
    .space-ventures h2 span:first-of-type {
      font-size: 7rem;
      font-weight: 600;
      top: 20px;
      left: 45px;
    }
    .space-ventures h2 span:nth-of-type(2) {
      top: -50px;
      font-size: 8rem;
      left: 70px;
    }

     /* citatet som endast syns i desktopläge */
     .gradient-quote {
      display: block;
    }

    .blue {
      font-size: 1.2rem;
      line-height: 25px;
    }

    .major-tom {
      display: block;
      float: right;
      transform: rotate(3deg);
    }

    /* footern längst ned med cookietexten */
    .second-footer{
      display: block;
      font-size: 1.3rem;
    }

    
  }